# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Library/assetDatabase3
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/ScriptAssemblies/Assembly-CSharp-Editor.dll.mdb
Library/ScriptAssemblies/Assembly-CSharp-Editor.dll.mdb
Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
*.dll
Library/ScriptAssemblies/Assembly-CSharp-Editor.dll.mdb
*.mdb
*.suo
Library/assetDatabase3
Library/shadercompiler-UnityShaderCompiler.exe0.log
Temp/ProcessJobs/459cda4e3a75b1ad2b3bf213ca2695c5.bakert
Library/metadata/00/00000000000000006100000000000000
Library/CurrentLayout.dwlt
Library/metadata/00/00000000000000006100000000000000
Library/CurrentLayout.dwlt
Library/metadata/*